<div class="container">
  <form>
  
  <h1 align="center">Menu</h1>
  
  <div class="form-group">
      <label><b>Nombre de cuenta</b></label>
      <input type="text" class="form-control" placeholder="Ingrese Correo electronico" name="user" [(ngModel)]="form.mail" >
  </div>
  
  <div class="form-group">
      <label><b>Contraseña</b></label>
      <input type="password" class="form-control" placeholder="Ingrese Password" name="pass" [(ngModel)]="form.password" >
  </div>
  
  <div align="center">
  <button align="center" class="btn btn-primary" type="submit" (click)="Loguearse()" >Login</button>
  <input type="checkbox" checked="checked"> Remember me
  </div>
  
  </form>
  </div>