<div class="container">  
<table class="table" border="1">

      <thead>
        <tr>
          <th>Modelo</th>
          <th>Tipo</th>
          <th>Año</th>
          <th>Foto</th>
        </tr>
      </thead>   
      
      <tr *ngFor="let vehi of ListaDeVehiculos" [ngClass]="vehi.tipo" (click)="onClickRow(vehi)" >
        <td>{{vehi.modelo}}</td>
        <td>{{vehi.tipo}}</td>
        <td>{{vehi.anio}}</td>        
        <th><img src="http://localhost:8080/slim/apirest/imagenes/{{vehi.foto}}" width="40" height="40"></th>
        <!-- 
        <td>          
            <button align="center" class="btn btn-danger" type="submit" (click)="baja(vehi)">Borrar</button>
        </td>
-->
      </tr>
</table>

<!-- 
    <app-mostrar-persona [detalles]="PersonaParaMostrar" align="center"></app-mostrar-persona><br>


    <div align="center" class="alert alert-primary">
      <input type="checkbox" class="form-check-input" [(ngModel)]="CboxEditar">Editar
    </div><br>


</div>



<div class="container" *ngIf="CboxEditar">
    <form class = "alert alert-primary">
    
    <div class="form-group">
        <label><b>Nombre de cuenta</b></label>
        <input type="text" class="form-control" placeholder="Enter Username" name="user" [(ngModel)]="form.modelo" >
    </div>
    
  
    <div class="form-group">
        <label><b>Contraseña</b></label>
        <input type="password" class="form-control" placeholder="Enter Password" name="pass" [(ngModel)]="form.password" >
    </div>
  
  
    <div class="form-group">
      <label><b>E-Mail</b></label>
      <input type="email" class="form-control" placeholder="Enter tipo" name="tipo" [(ngModel)]="form.tipo" >
    </div>
  
  
    <div class="form-group">
        <input type="radio" name="sexo" [(ngModel)]="form.sexo" value="Masculino">Masculino
        <input type="radio" name="sexo" [(ngModel)]="form.sexo" value="Femenino">Femenino
    </div>
  
  
    <div class="form-group">
      <label><b>Foto de avatar</b></label>
      <input type="File" class="form-control" placeholder="Click para subir una imagen" id="foto" name="foto" ngModel (change)=tomarFoto($event)>
    </div>
    
  
    <div align="center">
      <button align="center" class="btn btn-primary" type="submit" (click)="alta()">Guardar</button>
    </div>
    
  
    </form>
  </div>
-->