<div class="container">
  <form class = "alert alert-danger">  

  <div align="center">
    <input type="text" class="form-control" placeholder="Ingrese ID a eliminar" name="id" [(ngModel)]="form.id" >
    <button type="submit" align="center" class="btn btn-danger" (click)="buscar()">Buscar</button>
  </div>

  <hr>

  <div *ngIf="mostrar_btn_submit">
  <div class="form-group">
    <label><b>Foto de avatar</b></label>
    <br>
    <img class="border border-danger" src="http://localhost/slim/apirest/imagenes/{{form.foto}}" width="100" height="100">
  </div>

  <div class="form-group">
      <label><b>Nombre de cuenta</b></label>
      <input type="text" disabled class="form-control" placeholder="Enter Username" name="user" [(ngModel)]="form.nombre" >
  </div>


  <div class="form-group">
    <label><b>E-Mail</b></label>
    <input type="email" disabled class="form-control" placeholder="Enter mail" name="mail" [(ngModel)]="form.mail" >
  </div>


  <div class="form-group">
      <input type="radio" disabled name="sexo" [(ngModel)]="form.sexo" value="Masculino">Masculino
      <input type="radio" disabled name="sexo" [(ngModel)]="form.sexo" value="Femenino">Femenino
  </div>
  
  <button  align="center" class="btn btn-danger" type="submit" (click)="baja()" >Eliminar</button>
  </div>
  
  </form>
  </div>